
{
    "server": {
        "host": "127.0.0.1",
        "port": 7000,
        "path": "/kobold-api",
        "secret": "password"
    },
    "model": {
        "folder": "/path/to/gguf",
        "types": [".gguf"]
    },
    "kobold": {
        "backend": "https://kobold.cpp/v1/models",
        "exec": "echo loading",
        "exit": "echo unloading"
    }
}